/*Nav*/

nav.menutop {	
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
}

div.menutop-box  {
	background-color: #F4F4ED;
	height: 67px;
	width: 100%;
	padding:0 10px 0 10px;
	margin: 0px;
	overflow: hidden;
}
div.menutop-box *.inline-list {
	padding: 0px;	
	margin: 0px;
}
div.menutop ul {
	position: relative;
}
div.menutop ul li {
	height: 67px;
	padding: 20px 20px 10px 20px;
	margin: 0px;
}
div.menutop ul#scelta_lingua li:last-child:before {
	content: "";
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 150px;
}
ul#social {
	margin: 0 180px 0 0;
	overflow: visible;
}
ul#social li {
	color: #6F6F6E;
	margin: -6px -30px 0 0;
}
ul#social li h3 {
	color: #6F6F6E;
}
